@import url(../css/normalize.css);
@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  box-sizing: border-box;
  display: block;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444; }

.button:hover {
  background-color: #444444;
  color: #ffffff; }

.button:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.3); }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

.page-header {
  position: relative;
  margin-bottom: 30px;
  border-top: 1px solid #ececec; }

.page-header__wrapper-logo {
  width: 81.25%;
  min-width: 260px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center; }

.page-header__background {
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center 7px;
  background-size: contain;
  text-align: center; }

.page-header__slogan {
  display: inline-block;
  margin-top: 80px;
  padding: 0 11.5%;
  padding-bottom: 50%;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 27px;
  line-height: 30px;
  text-align: center; }

.page-header__list--only-tablet {
  display: none; }

.page-header__list--only-desktop {
  display: none; }

.page-header__info {
  display: none; }

.page-header__zig-zag {
  display: none; }

.main-nav {
  border-top: 1px solid #ececec; }

.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: 32px;
  right: calc(18.75%/2);
  background-color: transparent;
  border: none; }
  .main-nav--closed .main-nav__toggle::after {
    display: block;
    content: "";
    width: 20px;
    height: 14px;
    background-image: url("../svg/menu-burger.svg");
    background-repeat: no-repeat; }

.main-nav--closed .main-nav__list {
  display: none; }

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 29px;
  right: calc(18.75%/2);
  background-color: transparent;
  border: none; }
  .main-nav--opened .main-nav__toggle::after {
    display: block;
    content: "";
    width: 21px;
    height: 20px;
    background-image: url("../svg/menu-cross.svg");
    background-repeat: no-repeat; }

.main-nav--no-js .main-nav__toggle {
  display: none; }

.tablet-nav {
  display: none; }

.desktop-nav {
  display: none; }

.site-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.site-list__item {
  position: relative;
  border-bottom: 1px solid #ececec; }

.site-list__item label {
  position: absolute;
  top: 31px;
  left: 10%; }

.site-list__item a {
  display: block;
  padding: 27px 0;
  padding-left: 20%;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #000000;
  text-decoration: none; }

.site-list__item a:hover {
  opacity: 0.6; }

.site-list__item a:active {
  opacity: 0.3; }

.site-list__cart-icon {
  position: absolute;
  top: 31px;
  left: 10%;
  fill: #000000;
  opacity: 0.2; }

.site-list__item a:hover .site-list__cart-icon {
  fill: #63d1bb;
  opacity: 1; }

.site-list__item a:active .site-list__cart-icon {
  fill: #63d1bb;
  opacity: 0.3; }

.site-list__search {
  display: block;
  width: 67%;
  padding: 27px 0;
  padding-left: 20%;
  font: inherit;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #000000;
  border: none;
  background-color: transparent; }

.site-list__search::-webkit-input-placeholder {
  font: inherit;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #000000; }

.site-list__search::-moz-placeholder {
  font: inherit;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #000000; }

.site-list__search:-ms-input-placeholder {
  font: inherit;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #000000; }

.site-list__search::-ms-input-placeholder {
  font: inherit;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #000000; }

.site-list__search::placeholder {
  font: inherit;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #000000; }

.site-list__search-icon {
  fill: #000000;
  opacity: 0.2; }

.site-list__search:hover::-webkit-input-placeholder {
  opacity: 0.6; }

.site-list__search:hover::-moz-placeholder {
  opacity: 0.6; }

.site-list__search:hover:-ms-input-placeholder {
  opacity: 0.6; }

.site-list__search:hover::-ms-input-placeholder {
  opacity: 0.6; }

.site-list__search:hover::placeholder {
  opacity: 0.6; }

.site-list__search:hover + label > .site-list__search-icon {
  fill: #63d1bb;
  opacity: 1; }

.site-list__search:focus + label > .site-list__search-icon {
  fill: #63d1bb;
  opacity: 0.3; }

.product-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.product-list__item a {
  position: relative;
  display: block;
  padding: 0 calc(18.75%/2);
  padding-top: 27px;
  padding-bottom: 29px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  background-color: #63d1bb; }

.product-list__item:last-child a {
  background-color: #56c3b2; }

.product-list__item--interior a::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 12%;
  width: 40px;
  height: 62px;
  background-image: url("../svg/interior-icon.svg");
  background-repeat: no-repeat;
  opacity: 0.5; }

.product-list__item--toys a::after {
  content: "";
  position: absolute;
  top: 21px;
  right: 10%;
  width: 60px;
  height: 60px;
  background-image: url("../svg/toys-icon.svg");
  background-repeat: no-repeat;
  opacity: 0.5; }

@media (min-width: 768px) {
  .page-header {
    margin-bottom: 40px; }
  .page-header__background {
    background-image: url("../img/hero-desktop.jpg");
    background-position: center top; }
  .page-header__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    min-width: 668px;
    width: 87%;
    margin: 0 auto; }
  .page-header__background .page-header__wrapper {
    -webkit-box-align: baseline;
            align-items: baseline;
    padding-top: 21px; }
  .page-header__wrapper-logo {
    width: auto;
    min-width: auto;
    margin: 0;
    padding: 0;
    text-align: left; }
  .page-header__logo-image {
    width: 112px;
    height: 46px; }
  .page-header__list--only-tablet {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: flex-start; }
    .page-header__list--only-tablet .site-list__item {
      width: 168px;
      border: none;
      text-align: left; }
    .page-header__list--only-tablet a {
      padding: 0;
      font-size: 15px; }
  .page-header__info {
    display: block; }
  .page-header__slogan {
    margin-top: 117px;
    padding: 0;
    padding-bottom: 63%;
    font-size: 43px;
    line-height: 50px; }
  .page-header__zig-zag {
    position: relative;
    display: block;
    width: 100%;
    height: 22.71px;
    margin-top: -18px;
    background-image: url("../svg/zig-zag-desktop.svg"); }
  .info {
    font-family: 'Open-sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal; }
  .main-nav__toggle {
    display: none; }
  .tablet-nav {
    display: block; }
  .tablet-nav__list {
    display: -webkit-box;
    display: flex; }
    .tablet-nav__list label {
      top: 35px;
      left: 33px;
      cursor: pointer; }
    .tablet-nav__list .site-list__item {
      border-left: 1px solid #ececec;
      border-bottom: none; }
      .tablet-nav__list .site-list__item a {
        opacity: 1; }
      .tablet-nav__list .site-list__item a:hover span {
        opacity: 0.6; }
      .tablet-nav__list .site-list__item a:active span {
        opacity: 0.3; }
    .tablet-nav__list .site-list__search {
      width: 82px;
      padding: 32px 0; }
    .tablet-nav__list .site-list__search:focus {
      width: 162px;
      padding: 32px 0;
      padding-left: 60px; }
    .tablet-nav__list .site-list__search:focus + label {
      left: 23px; }
    .tablet-nav__list .site-list__item:nth-child(2) a {
      width: 185px;
      padding: 32px 0;
      padding-left: 85px; }
    .tablet-nav__list .site-list__cart-icon {
      top: 35px;
      left: 31px; }
  .secondary-nav {
    width: 87%;
    min-width: 668px;
    margin: 0 auto;
    margin-top: -110px; }
  .product-list {
    display: -webkit-box;
    display: flex; }
  .product-list__item {
    -webkit-box-flex: 1;
            flex-grow: 1; }
  .product-list__item a {
    padding: 0;
    padding-top: 33px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 33px; } }

@media (min-width: 1250px) {
  .page-header {
    margin-bottom: 55px; }
  .page-header__wrapper {
    max-width: 1050px; }
  .page-header__wrapper-logo {
    margin-right: 40px;
    width: 149px;
    -webkit-box-ordinal-group: 2;
            order: 1; }
  .page-header__logo-image {
    width: 149px;
    height: 72px; }
  .page-header__background {
    background-size: contain;
    background-color: #f9f9f9; }
  .page-header__list--only-tablet {
    display: none; }
  .page-header__list--only-desktop {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: flex-start; }
    .page-header__list--only-desktop .site-list__item {
      width: 220px;
      border: none;
      text-align: left; }
    .page-header__list--only-desktop a {
      padding: 0;
      font-size: 15px; }
  .page-header__slogan {
    padding-bottom: 431px;
    font-size: 53px;
    line-height: 57px; }
  .tablet-nav {
    -webkit-box-ordinal-group: 3;
            order: 2; }
  .desktop-nav {
    display: block; }
  .desktop-nav__list {
    display: -webkit-box;
    display: flex; }
    .desktop-nav__list .site-list__item {
      border-bottom: none; }
      .desktop-nav__list .site-list__item a {
        padding: 32px 0;
        padding-right: 24px;
        width: 160px;
        border-right: 1px solid #ececec; }
      .desktop-nav__list .site-list__item:last-child a {
        padding-left: 35px; }
  .secondary-nav {
    width: 1050px; } }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  box-sizing: border-box;
  display: block;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444; }

.button:hover {
  background-color: #444444;
  color: #ffffff; }

.button:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.3); }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

.product-week__wrapper {
  width: 81.25%;
  min-width: 260px;
  margin: 0 auto; }

.product-week__wrapper-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.product-week__heading {
  -webkit-box-ordinal-group: 3;
          order: 2;
  margin: 0;
  margin-bottom: 27px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb; }

.product-week__title {
  -webkit-box-ordinal-group: 2;
          order: 1;
  margin: 0;
  margin-bottom: 3px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 25px;
  line-height: 30px; }

.product-week__info {
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Open-sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444; }

.product-week__list {
  margin: 0;
  margin-bottom: 29px;
  width: 100%;
  border-collapse: collapse;
  font-family: 'Open-sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444; }

.product-week__list tbody {
  width: 100%; }

.product-week__list tr {
  border-bottom: 1px solid #ececec; }

.product-week__list td {
  padding: 0;
  padding-bottom: 10px; }

.product-week__parametr {
  width: 40%; }

.product-week__value {
  width: 60%; }

.product-week__image-container {
  margin-bottom: 27px;
  font-size: 0;
  text-align: center; }

.product-week__order {
  text-align: center;
  margin-bottom: 35px; }

.product-week__price {
  display: block;
  margin-bottom: 27px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #444444; }

.product-week__button {
  padding-top: 15px;
  padding-bottom: 13px; }

.product-weekm__zig-zag {
  width: 100%;
  height: 6px;
  background-image: url("../svg/zig-zag.svg"); }

@media (min-width: 415px) {
  .product-week__info br {
    display: none; } }

@media (min-width: 768px) {
  .product-week__wrapper {
    width: 87%;
    min-width: 668px;
    margin: 0 auto;
    margin-bottom: 55px; }
  .product-week__wrapper-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 58px; }
  .product-week__title {
    margin: 0;
    font-size: 43px;
    line-height: 50px; }
  .product-week__heading {
    margin: 0;
    width: 100px;
    font-size: 17px;
    line-height: 17px;
    text-align: center; }
  .product-week__container {
    position: relative;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .product-week__info-container {
    width: 44%; }
  .product-week__info {
    margin-bottom: 52px; }
  .product-week__image-container {
    width: 50%;
    margin-bottom: 0;
    text-align: right; }
  .product-week__order {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    width: 44%; }
  .product-weekm__zig-zag {
    height: 15px; } }

@media (min-width: 1250px) {
  .product-week__wrapper {
    position: relative;
    max-width: 1050px;
    margin-bottom: 75px; }
  .product-week__wrapper-header {
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 5;
    -webkit-box-pack: start;
            justify-content: flex-start;
    margin-bottom: 0; }
  .product-week__heading {
    margin-left: 33px;
    margin-right: 42px;
    -webkit-box-ordinal-group: 2;
            order: 1; }
  .product-week__title {
    -webkit-box-ordinal-group: 2;
            order: 1; }
  .product-week__info-container {
    margin-top: 165px;
    margin-left: 175px;
    width: 295px; }
  .product-week__info {
    width: 275px; }
  .product-week__order {
    left: 175px;
    width: 295px; }
  .product-weekm__zig-zag {
    height: 23px; } }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  box-sizing: border-box;
  display: block;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444; }

.button:hover {
  background-color: #444444;
  color: #ffffff; }

.button:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.3); }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

.about {
  margin-top: 30px; }

.about__wrapper {
  min-width: 260px;
  width: 81.25%;
  margin: 0 auto; }

.about__heading {
  margin: 0;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 25px;
  line-height: 30px;
  color: #000000; }

.about__list {
  margin: 0;
  margin-bottom: 58px;
  padding: 0;
  list-style: none; }

.about__item {
  position: relative;
  margin-top: 83px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 20px;
  color: #000000; }

.about__item--ecology::after {
  content: "";
  width: 32px;
  height: 37px;
  position: absolute;
  bottom: 55px;
  left: 8px;
  background-image: url(../svg/icon-1.svg);
  background-repeat: no-repeat; }

.about__item--ruble::after {
  content: "";
  width: 47px;
  height: 27px;
  position: absolute;
  bottom: 64px;
  left: 0;
  background-image: url(../svg/icon-2.svg);
  background-repeat: no-repeat; }

.about__item--likes::after {
  content: "";
  width: 34px;
  height: 27px;
  position: absolute;
  bottom: 60px;
  left: 7px;
  background-image: url(../svg/icon-3.svg);
  background-repeat: no-repeat; }

.about__item--handmade::after {
  content: "";
  width: 35px;
  height: 34px;
  position: absolute;
  bottom: 56px;
  left: 3px;
  background-image: url(../svg/icon-4.svg);
  background-repeat: no-repeat; }

.about__item--support::after {
  content: "";
  width: 55px;
  height: 23px;
  position: absolute;
  bottom: 66px;
  left: -6px;
  background-image: url(../svg/icon-5.svg);
  background-repeat: no-repeat; }

.about__item--package::after {
  content: "";
  width: 33px;
  height: 32px;
  position: absolute;
  bottom: 60px;
  left: 3px;
  background-image: url(../svg/icon-6.svg);
  background-repeat: no-repeat; }

@media (min-width: 486px) and (max-width: 768px) {
  .about__item br {
    display: none; }
  .about__item--ecology::after {
    bottom: 35px; }
  .about__item--ruble::after {
    bottom: 44px; }
  .about__item--likes::after {
    bottom: 40px; }
  .about__item--handmade::after {
    bottom: 36px; }
  .about__item--support::after {
    bottom: 46px; }
  .about__item--package::after {
    bottom: 40px; } }

@media (min-width: 768px) {
  .about {
    margin-top: 50px; }
  .about__wrapper {
    min-width: 668px;
    width: 87%; }
  .about__heading {
    font-size: 43px;
    line-height: 50px; }
  .about__list {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 80px;
    height: 465px; }
  .about__item {
    margin-top: 108px;
    width: 50%;
    font-size: 20px;
    line-height: 23px; } }

@media (min-width: 1250px) {
  .about {
    margin-top: 63px; }
  .about__wrapper {
    max-width: 700px; }
  .about__heading {
    font-size: 53px;
    line-height: 57px; }
  .about__list {
    margin-bottom: 85px; } }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  box-sizing: border-box;
  display: block;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444; }

.button:hover {
  background-color: #444444;
  color: #ffffff; }

.button:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.3); }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

.contacts__wrapper {
  min-width: 260px;
  width: 81.25%;
  margin: 0 auto;
  margin-bottom: 40px; }

.contacts__heading {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 18px;
  line-height: 30px;
  color: #000000; }

.contacts__container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
          align-items: baseline; }

.contacts__container-email {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px; }

.contacts__container-address {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 260px; }

.contacts__text-email {
  margin: 0;
  width: 80px;
  font-family: 'Open-sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  line-height: 30px;
  color: #444444; }

.contacts__email {
  width: 180px;
  position: relative;
  font-family: 'Open-sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  line-height: 30px;
  color: #444444;
  text-decoration: none; }

.contacts__email:hover {
  color: #62d1ba; }

.contacts__email:active {
  color: #62d1ba;
  opacity: 0.3; }

.contacts__email::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 162px;
  height: 1px;
  background-color: #62d1ba; }

.contacts__email:active::after {
  opacity: 0.3; }

.contacts__text-address {
  margin: 0;
  width: 80px;
  font-family: 'Open-sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  line-height: 30px;
  color: #444444; }

.contacts__wrapper address {
  display: inline-block;
  margin: 0;
  width: 180px;
  font-family: 'Open-sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  line-height: 30px;
  color: #444444;
  font-style: normal; }

iframe {
  width: 100%;
  height: 460px;
  border: none; }

.contacts__write-us {
  margin: 40px auto;
  padding: 14px 0;
  width: 252px;
  text-align: center; }

@media (min-width: 768px) {
  .contacts__wrapper {
    min-width: 668px;
    width: 87%;
    margin: 0 auto;
    margin-bottom: 60px; }
  .contacts__heading {
    position: relative;
    margin-top: 65px;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px; }
  .contacts__heading--flag::after {
    content: "";
    position: absolute;
    top: -15px;
    right: 0;
    width: 47px;
    height: 81px;
    background-image: url("../svg/flag.svg");
    background-repeat: no-repeat; }
  .contacts__container {
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .contacts__container-address {
    width: 300px; }
  .contacts__wrapper address {
    width: 220px; }
  .contacts__wrapper address br:nth-child(2) {
    display: none; }
  .contacts__write-us {
    margin: 55px auto; } }

@media (min-width: 1250px) {
  .contacts {
    position: relative;
    display: -webkit-box;
    display: flex;
    width: 1050px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 110px; }
  .contacts__wrapper {
    min-width: auto;
    width: 350px;
    margin: 0;
    margin-left: 175px; }
  .contacts__heading {
    margin-top: 80px;
    margin-bottom: 60px; }
  .contacts__heading--flag::after {
    right: auto;
    left: -110px; }
  iframe {
    width: 525px;
    height: 457px; }
  .contacts__write-us {
    position: absolute;
    bottom: 0;
    left: 175px;
    margin: 0; } }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  box-sizing: border-box;
  display: block;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444; }

.button:hover {
  background-color: #444444;
  color: #ffffff; }

.button:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.3); }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

.page-footer {
  padding: 25px 0;
  background-color: #f1f1f1; }

.page-footer__logo {
  display: none; }

.page-footer__logo a:hover .page-footer__logo-icon {
  fill: #62d1ba; }

.page-footer__logo a:active .page-footer__logo-icon {
  fill: #62d1ba;
  opacity: 0.3; }

.page-footer__social {
  width: 145px;
  margin: 0 auto; }

.social__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
          align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none; }

.social__link:hover svg {
  fill: #62d1ba; }

.social__link:active svg {
  fill: #62d1ba;
  opacity: 0.3; }

@media (min-width: 768px) {
  .page-footer__wrapper {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    width: 87%;
    min-width: 668px;
    margin: 0 auto; }
  .page-footer__logo {
    display: block; }
  .page-footer__social {
    margin: 0; } }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  box-sizing: border-box;
  display: block;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444; }

.button:hover {
  background-color: #444444;
  color: #ffffff; }

.button:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.3); }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

.catalog-page .page-header__background {
  background-image: none; }

.catalog-page .page-header__slogan {
  margin-bottom: 80px;
  padding-bottom: 0; }

@media (min-width: 768px) {
  .catalog-page .page-header {
    margin-bottom: 60px; }
  .catalog-page .page-header__slogan {
    margin-top: 75px;
    margin-bottom: 75px; } }

@media (min-width: 1250px) {
  .catalog-page .page-header {
    margin-bottom: 90px; }
  .catalog-page .page-header__slogan {
    margin-top: 60px;
    margin-bottom: 80px; } }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  box-sizing: border-box;
  display: block;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444; }

.button:hover {
  background-color: #444444;
  color: #ffffff; }

.button:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.3); }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

.catalog__wrapper {
  min-width: 260px;
  width: 81.25%;
  margin: 0 auto; }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer; }

.catalog__item {
  box-sizing: border-box;
  margin-bottom: 30px;
  border: 1px solid #ededed; }

.catalog__item:hover {
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.3); }

.catalog__item:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3); }

.catalog__image-container {
  margin-bottom: 29px;
  text-align: center; }

.catalog__image {
  width: 100%; }

.catalog__text {
  margin-left: 28px;
  margin-bottom: 25px; }

.catalog__name {
  display: block;
  margin-bottom: 15px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 24px;
  color: #000000; }

.catalog__info {
  display: block;
  font-family: 'Open-sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
  color: #444444; }

.catalog__price {
  position: relative;
  display: block;
  margin-left: 28px;
  margin-bottom: 29px;
  padding-top: 25px;
  width: 78%;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  border-top: 1px solid #ececec; }

.catalog__price--icon::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 19px;
  background-image: url("../svg/cart-icon.svg");
  background-repeat: no-repeat;
  opacity: 0.2; }

@media (min-width: 768px) {
  .catalog__wrapper {
    min-width: 668px;
    width: 87%; }
  .catalog__item {
    position: relative;
    display: -webkit-box;
    display: flex;
    margin-bottom: 55px; }
  .catalog__image-container {
    font-size: 0;
    margin-bottom: 0; }
  .catalog__text {
    margin-top: 26px;
    margin-bottom: 0; }
  .catalog__price {
    position: absolute;
    bottom: 0;
    left: 335px;
    margin-bottom: 26px;
    width: 40%; } }

@media (min-width: 1250px) {
  .catalog__wrapper {
    max-width: 1050px; }
  .catalog__list {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .catalog__item {
    position: static;
    display: block;
    margin-bottom: 0; }
  .catalog__image {
    width: auto; }
  .catalog__text {
    margin-bottom: 35px; }
  .catalog__name {
    width: 205px;
    margin-bottom: 0; }
  .catalog__price {
    position: relative;
    bottom: auto;
    left: auto;
    margin-bottom: 26px;
    width: 256px; } }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  box-sizing: border-box;
  display: block;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444; }

.button:hover {
  background-color: #444444;
  color: #ffffff; }

.button:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.3); }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

.process {
  box-sizing: border-box;
  min-width: 260px;
  width: 81.25%;
  margin: 0 auto;
  margin-bottom: 30px; }

.process__button {
  margin: 0;
  padding: 15px 0;
  text-align: center;
  background-color: transparent; }

@media (min-width: 768px) {
  .process {
    min-width: 668x;
    width: 87%;
    margin: 0 auto;
    margin-bottom: 40px; } }

@media (min-width: 1250px) {
  .process {
    max-width: 1050px;
    margin-top: 50px;
    margin-bottom: 50px; } }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  box-sizing: border-box;
  display: block;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444; }

.button:hover {
  background-color: #444444;
  color: #ffffff; }

.button:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.3); }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

.order-page .page-header__background {
  background-image: none; }

.order-page .page-header__slogan {
  margin-bottom: 80px;
  padding-bottom: 0; }

@media (min-width: 768px) {
  .order-page .page-header {
    margin-bottom: 60px; }
  .order-page .page-header__slogan {
    margin-top: 75px;
    margin-bottom: 75px; } }

@media (min-width: 1250px) {
  .order-page .page-header {
    margin-bottom: 90px; }
  .order-page .page-header__slogan {
    margin-top: 60px;
    margin-bottom: 80px; } }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  box-sizing: border-box;
  display: block;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444; }

.button:hover {
  background-color: #444444;
  color: #ffffff; }

.button:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.3); }

@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

.order__wrapper,
.product-type__wrapper,
.product-color__wrapper,
.user__wrapper,
.user-contacts__wrapper,
.additional__wrapper,
.form__footer {
  width: 81.25%;
  min-width: 260px;
  margin: 0 auto; }

.order__text {
  margin: 0;
  margin-bottom: 26px;
  font-family: 'Open-sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-size: 13px;
  line-height: 24px;
  color: #444444; }

.product-type {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  border: none; }

.product-type__legend {
  margin-bottom: 40px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase; }

.product-type__wrapper::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 12.5%;
  width: 61%;
  height: 1px;
  background-color: #63d1bb; }

.radio {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 63px; }

.radio__label {
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.radio__label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: -8px;
  left: 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #444444; }

.radio__input:checked + .radio__label::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 3px;
  left: 11px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #63d1bb; }

.radio__label:hover::before {
  border-color: #63d1bb; }

.radio__label:active::before {
  border-color: #444444;
  opacity: 0.3; }

.product-color {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none; }

.product-color__legend {
  margin-bottom: 35px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase; }

.product-color__wrapper::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 12.5%;
  width: 61%;
  height: 1px;
  background-color: #63d1bb; }

.checkbox {
  margin: 0;
  margin-bottom: 40px;
  padding-left: 64px; }

.checkbox__label {
  position: relative;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.checkbox__label::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -64px;
  width: 35px;
  height: 35px;
  border: 2px solid #444444; }

.checkbkox__input:checked + .checkbox__label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -55px;
  width: 22px;
  height: 16px;
  background-image: url("../svg/check.svg");
  background-repeat: no-repeat; }

.checkbox__label:hover::before {
  border: 2px solid #63d1bb; }

.checkbox__label:active::before {
  border: 2px solid rgba(0, 0, 0, 0.3); }

.user {
  position: relative;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none; }

.user__legend {
  margin-bottom: 25px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase; }

.user__wrapper::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 12.5%;
  width: 61%;
  height: 1px;
  background-color: #63d1bb; }

.user-info {
  margin: 0;
  margin-bottom: 22px; }

.user-info:last-child {
  margin-bottom: 0; }

.user__first-name {
  display: block;
  margin-bottom: 15px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 18px;
  color: #000000; }

.input {
  display: block;
  width: 100%;
  padding-bottom: 14px;
  font: inherit;
  font-family: 'Open-sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent; }

.input::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3); }

.input::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3); }

.input:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3); }

.input::-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3); }

.input::placeholder {
  color: rgba(68, 68, 68, 0.3); }

.input:hover {
  border-color: #63d1bb; }

.input:focus {
  border-color: #63d1bb;
  outline: none; }

.user__last-name {
  display: block;
  margin-bottom: 15px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 18px;
  color: #000000; }

.user__middle-name {
  display: block;
  margin-bottom: 15px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 18px;
  color: #000000; }

.user-contacts {
  position: relative;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none; }

.user-contacts__legend {
  margin-bottom: 25px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase; }

.user-contacts__wrapper::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 76%;
  height: 1px;
  background-color: #63d1bb; }

.user-contacts__wrapper {
  position: relative;
  margin-bottom: 30px; }

.user-contacts__wrapper:last-child {
  margin-bottom: 0; }

.user-contacts__telephone {
  display: inline-block;
  margin-bottom: 25px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase; }

.user-contacts__phone-icon {
  position: absolute;
  bottom: 15px;
  right: 8px;
  fill: #000000;
  opacity: 0.2; }

input:hover + .user-contacts__phone-icon,
input:focus + .user-contacts__phone-icon {
  fill: #63d1bb;
  opacity: 1; }

.user-contacts__email {
  display: inline-block;
  margin-bottom: 25px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase; }

.user-contacts__wrapper:last-child::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 70%;
  height: 1px;
  background-color: #63d1bb; }

.user-contacts__email-icon {
  position: absolute;
  bottom: 15px;
  right: 8px;
  fill: #000000;
  opacity: 0.2; }

input:hover + .user-contacts__email-icon,
input:focus + .user-contacts__email-icon {
  fill: #63d1bb;
  opacity: 1; }

.additional {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  border: none; }

.additional__legend {
  margin-bottom: 20px;
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase; }

.additional::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 12.5%;
  width: 61%;
  height: 1px;
  background-color: #63d1bb; }

.additional__info {
  box-sizing: border-box;
  padding-top: 14px;
  padding-left: 16px;
  width: 100%;
  height: 142px;
  border: 2px solid #444444;
  font: inherit;
  font-family: 'Open-sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-size: 17px;
  line-height: 18px;
  color: #444444; }

.additional__info:hover {
  border-color: #63d1bb; }

.additional__info:focus {
  border-color: #63d1bb;
  outline: none; }

.additional__info::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3); }

.additional__info::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3); }

.additional__info:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3); }

.additional__info::-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3); }

.additional__info::placeholder {
  color: rgba(68, 68, 68, 0.3); }

.form__info {
  display: inline-block;
  margin-bottom: 30px;
  font-family: 'Open-sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #444444; }

.form__button {
  margin-bottom: 55px;
  padding: 12px 0;
  width: 100%;
  text-align: center;
  background-color: transparent; }

@media (min-width: 768px) {
  .order__wrapper,
  .product-type__wrapper,
  .product-color__wrapper,
  .user__wrapper,
  .user-contacts__wrapper,
  .additional__wrapper,
  .form__footer {
    width: 87%;
    min-width: 668px; }
  .order__text {
    margin-bottom: 50px;
    font-size: 17px;
    line-height: 30px; }
  .product-type__wrapper {
    display: -webkit-box;
    display: flex; }
  .product-type__legend {
    margin-right: 130px; }
  .product-type__wrapper::after {
    display: none; }
  .radio:first-child {
    margin-bottom: 45px; }
  .radio__label br {
    display: none; }
  .product-color {
    margin-bottom: 65px;
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #f1f1f1; }
  .product-color__wrapper {
    display: -webkit-box;
    display: flex; }
  .product-color__wrapper::after {
    display: none; }
  .product-color__legend {
    margin-right: 121px; }
  .product-color__container {
    -webkit-box-flex: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    flex-wrap: wrap;
    height: 177px; }
  .user {
    margin-bottom: 50px; }
  .user__wrapper {
    display: -webkit-box;
    display: flex; }
  .user__wrapper::after {
    display: none; }
  .user__legend {
    margin-right: 125px; }
  .user__container {
    -webkit-box-flex: 1;
            flex-grow: 1; }
  .user-info {
    display: -webkit-box;
    display: flex; }
  .user-info label {
    margin-right: 25px; }
  .input {
    padding-left: 15px; }
  .user-contacts {
    margin-bottom: 50px;
    padding-top: 65px;
    padding-bottom: 50px;
    background-color: #f1f1f1; }
  .user-contacts__wrapper {
    display: -webkit-box;
    display: flex; }
  .user-contacts__wrapper::after {
    display: none; }
  .user-contacts__container {
    -webkit-box-flex: 1;
            flex-grow: 1; }
  .user-contacts__telephone {
    margin-right: 135px; }
  .user-contacts__email {
    margin-right: 107px; }
  .additional {
    margin-bottom: 55px; }
  .additional::after {
    display: none; }
  .additional__wrapper {
    display: -webkit-box;
    display: flex; }
  .additional__legend {
    margin-right: auto; }
  .additional__info {
    width: 500px; }
  .form__footer {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
            align-items: baseline; }
  .form__info {
    width: 247px;
    -webkit-box-ordinal-group: 3;
            order: 2; }
  .form__button {
    width: 230px; } }

@media (min-width: 1250px) {
  .order__wrapper,
  .product-type__wrapper,
  .product-color__wrapper,
  .user__wrapper,
  .user-contacts__wrapper,
  .additional__wrapper,
  .form__footer {
    max-width: 1050px; }
  .order__text {
    margin-left: 175px; }
  .product-type__legend {
    margin-left: 65px;
    margin-right: 76px; }
  .product-color__legend {
    margin-left: 62px;
    margin-right: 71px; }
  .product-color__container {
    height: 118px; }
  .user__legend {
    margin-left: 62px;
    margin-right: 72px; }
  .user-container {
    -webkit-box-flex: 0;
            flex-grow: 0;
    width: 700px; }
  .user-contacts__input {
    width: 685px; }
  .user-contacts__telephone {
    margin-left: 62px;
    margin-right: 82px; }
  .user-contacts__phone-icon {
    right: 182px; }
  .user-contacts__email {
    margin-left: 62px;
    margin-right: 55px; }
  .user-contacts__email-icon {
    right: 178px; }
  .user-contacts__container {
    -webkit-box-flex: 0;
            flex-grow: 0;
    width: 700px; }
  .additional__legend {
    margin-left: 63px;
    margin-right: 75px; }
  .additional__info {
    width: 700px; }
  .form__footer {
    width: 700px; } }
