@font-face {
  font-family: 'Open-sans';
  font-weight: normal;
  font-style: normal;
  
  src: url("../fonts/OpenSans-Regular.woff") format("woff"),
       url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Open-sans';
  font-weight: bold;
  font-style: normal;

  src: url("../fonts/OpenSans-Bold.woff") format("woff"),
       url("../fonts/OpenSans-Bold.woff2") format("woff2");
}

@mixin font-regular {
  font-family: 'Open-sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
}

@mixin font-bold {
  font-family: 'Open-sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}