@import "../scaffolding";
@import "../varibles";
@import "../mixin";

.order-page {

  & .page-header__background {
    background-image: none;
  }

  & .page-header__slogan {
    margin-bottom: 80px;
    padding-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .order-page {

    & .page-header {
      margin-bottom: 60px;
    }
  
    & .page-header__slogan {
      margin-top: 75px;
      margin-bottom: 75px;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-page {
    & .page-header {
      margin-bottom: 90px;
    }
    & .page-header__slogan {
      margin-top: 60px;
      margin-bottom: 80px;
    }
  }
}